---
layout: page
title: Мои работы
permalink: /myworks/
---
<div class="portfolio">
<div class="holder pagination-works"></div>
<div id="itemContainer">
<!-- Items -->
{% for items in site.data.portfolio %}

<article class="portfolio-items">
    <label for="{{items.id}}" class="gallery-element">
      <img class="p-image" src="{{items.small-img}}">
    </label>
    <p><span class="p-descr">{{items.description}}</span>
      <span class="p-date">{{items.date}}</span>
    </p>
</article>
{% endfor %}
</div>

<div class="hide-items">
  {% for items in site.data.portfolio %}
  <div class="wrap-for-label">
 <input type="checkbox" class="gallery-input" id="{{items.id}}"/>
 <label for="{{items.id}}" class="lightbox"></label>
 <div class="wrap-for-box">
   <div class="bg"><div class="wrap-for-slider">
   <div class="responsive slider">
     {% for inf in items.hide-info %}
     <div><img src="{{inf}}" alt=""></div>
     {% endfor %}
   </div>

</div>
     <p class="hide-description">{{items.hide-description}}</p>
</div></div>
</div>
{% endfor %}
</div>

</div> <!-- Портфолио -->
