<footer>

  <div class="wrapper container">

<div class="row">
  <div class="col-sm-4 footer-item">
  <header>Дарья Товчиречко</header>
    <ul class="social">
      <li class="social-item social-item__vk"></li>
      <li class="social-item social-item__linkedin"></li>
      <li class="social-item social-item__insta"></li>
      <li class="social-item social-item__facebook"></li>
      <li class="social-item social-item__skype"></li>
      <li class="social-item social-item__github"></li>
    </ul>
  </div>

    <div class="col-sm-4 photo footer-item">
      <header>{{site.title}}</header>
      <div class="myphoto"></div>
    </div>

    <div class="col-sm-4 adress footer-item">
      <div class="adress-email">
        <header>Email</header>
        <span>tovdariaolegovna@gmail.com</span>
      </div>
      <div class="adress-phone">
        <header>Телефон</header>
        <span>+38 (096) 554 12 50</span>
      </div>
    </div>
</div>


  </div>
<div class="copyright">
  Сайт сделан с любовью:3
</div>
</footer>
<script src="{{ site.baseurl }}/bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{ site.baseurl }}/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
