<div class="navigation">
  <div class="container wrap-nav">
    <div class="row flex">
      <div class="col-xs-2 nav-logo">
        <a class="site-title" href="{{ site.baseurl }}/">DariaTov</a>
      </div>
      <div class="col-xs-10 wrap-toggle">
        <input class="toggle" id="toggle" type="checkbox">
        <label class="toggle" for="toggle"></label>
        <div class="nav-button">
            <a class="nav-button-item nav-underline" href="{{ site.baseurl }}/about/">Обо мне</a>
            <a class="nav-button-item nav-underline" href="{{site.baseurl }}/works/">Мои работы</a>
            <a class="nav-button-item nav-underline" href="{{ site.baseurl }}/blog/">Блог</a>
        </div>
      </div>
    </div>
  </div>
</div>
