---
---
@charset "utf-8";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

$navbarHeight: 70px;

$lightPink: #fdbcc4;
$lightYellow: #fdfbcb;
$lightBrown: #b99f9e;
$blue: #7cd5f5;
$green: #67c89b;
$lightPurple: #ac9dc8;
$darkPurple: #7258a1;
$lightBg: #FBF9FB;

$white: #ffffff;
$black: #000000;
$darkGray: #373737;

$logo: 'Wendy One', sans-serif;
$exo: 'Exo 2', sans-serif;
$sans: 'Open Sans', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;

$roboto: 'Roboto Slab', serif;
html, body {
  height: 100%;
}
body {
  position: relative;
  border: 0;
  margin: 0;
  padding: 0;
  background: #ffe9eb; /* Old Browsers */
background: -webkit-radial-gradient(top right,#ffe9eb,#f4f4f4); /*Safari 5.1-6*/
background: -o-radial-gradient(top right,#ffe9eb,#f4f4f4); /*Opera 11.1-12*/
background: -moz-radial-gradient(top right,#ffe9eb,#f4f4f4); /*Fx 3.6-15*/
background: radial-gradient(top right, #ffe9eb, #f4f4f4); /*Standard*/
}

a:active, a:hover, a:focus {
  text-decoration: none;
}
.menu {
  display: flex;
  justify-content: flex-end;
  & a {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
    }
}

.toggle {
  display: none;
}

label.toggle {
  font-weight: 900;
  font-size: 1.2em;
  padding: 10px;
  color: $white;
  height: 30px;
  width: 40px;
  position: sticky;
left: 0;
top: 0;
}
.nav-button {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
}

a.nav-button-item {
  display: block;
  position: relative;
  margin: 10px 5px;
  font-size: 14pt;
  font-family: $exo;
  text-transform: uppercase;
  color: $white;
  padding: 0px 5px;
  transition: all 0.2s;
  font-weight: bold;
  &:hover {
    text-decoration: none;
    color: $darkPurple;
    transition: all 0.2s;
  }
  }

.navigation {
  min-height: $navbarHeight;
  background-color: $lightPurple;
  border-color: darken($lightPurple, 0.7);
  display: flex;
  transition: all 0.2s;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  border-radius: 0;
  .wrap-nav {
    margin: auto;
  }
}

.nav-height {
  min-height: 50px;
  transition: all 0.2s;
}

.nav-underline {
  &:after {
    content: '';
    width: 100%;
    height: 3px;
    display: block;
    background-color: $darkPurple;
    transform: translateY(20px) scale(0);
    transition: all 0.2s; }
    &:hover:after {
      transform: translateY(20px) scale(1);
      transition: all 0.2s;
  }
}

.nav-underline-small {
  &:after {
    content: '';
    width: 100%;
    height: 3px;
    display: block;
    background-color: $darkPurple;
    transform: translateY(10px) scale(0);
    transition: all 0.2s; }
    &:hover:after {
      transform: translateY(10px) scale(1);
      transition: all 0.2s;
  }
}

.nav-logo a {
  font-family: $logo;
  font-size: 24pt;
  color: $white;
  display: inline-block;
  vertical-align: middle;
  padding: 0px 0px;
  &:hover {
    text-decoration: none;
  }
}
.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}
.page-content {
  position: relative;
  margin-top: 20px;
  background-color: $lightBg;
  border-radius: 3px;
  box-shadow: 0 0 1px $lightBrown, inset 0 0 2px $white;
  flex: 1 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.for-home {
  margin-top: 0px;
  min-height: 150px;
  overflow: hidden;
  position: relative;
  display: block;
  text-transform: uppercase;
  .home-description {
    padding: 15px;
    position: absolute;
    top: 20px;
    right: 0;
    color: $lightBrown;
    font-weight: bold;
    font-size: 26pt;
    z-index: 10;
    font-family: $exo;
    font-variant: small-caps;
    text-align: right;
    width: auto;
    line-height: 24pt;
    display: inline;
    animation: appear ease-out 3s alternate;
    //animation-duration: 2s;
    & span {
      display: block;
      font-size: 10pt;
      line-height: 12pt;
      font-family: $exo;
      font-variant: small-caps;
    }
  }

}
.carousel-inner {
  //border: 10px solid $lightBrown;
  //border-radius: 3px;

}
@keyframes appear {
  0%, 10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-header {
  text-align: center;
  font-size: 14pt;
  font-family: $exo;
  margin-bottom: 20px;
  border-bottom: 1px dashed $lightBrown;
  padding-bottom: 20px;
}


.main-content {
  text-align: center;
  font-size: 10pt;
  display: inline-block;
  vertical-align: middle;
  font-family: $sans;
  margin-bottom: 10px;
}


.large-button {
  display: block;
  width: 150px;
  height: 40px;
  margin: 0 auto;
  font-size: 14pt;
  color: $darkGray;
  font-family: $ubuntu;
  line-height: 20pt;
  text-transform: uppercase;
  font-weight: bolder;
  color: $white;
  &__blue {
    background-color: $green;
    &:hover {
      background-color: $lightBg;
      border: 2px solid $green;
      color: $green;
    }
  }
}



footer {
  background-color: $darkGray;
  color: $white;
  margin-top: 10px;
  width: 100%;
  padding-top: 5px;
  flex: 0 0 auto;
.myphoto {
  position: relative;
  width: 100px;
  height: 100px;
  background-image: url(../img/photo.jpg);
  background-size: cover;
  border-radius: 100px;
  margin: 0 auto;
  transition: all .2s ease;
  &:hover {
    background-image: url(../img/photo.jpg);
    transition: all .2s ease;
  }
}

.copyright {
text-align: center; }
}

.social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 5px;
  padding: 0;
  justify-content: center;
  margin-top: 20px;
  .social-item {
    margin: 3px;
    width: auto;
    height: auto;
    transition: transform ease-out .2s;
    &:hover {
      transform: scale(1.2);
      transition: transform ease-out .2s;
    }
  }
}
.footer-item {
  padding: 10px;
  font-size: 10pt;
  font-family: $ubuntu;
  color: $white;
  text-align: center;
  header {
    margin: 5px;
    font-size: 12pt;
    text-transform: uppercase;
  }
}


.wrap-for-hello {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  justify-content: center;
  position: relative;
  margin-top: 10px;
  .wrap-for-translate {
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: row;
    width: 100px;
    margin: 0 auto;
    transition: all 1s ease-out;
    &:hover > .wrap-for-cat #left-hand {
      transform: rotate(-90deg);
    }
    &:hover > .wrap-for-cat #right-hand {
      transform: rotate(90deg);
    }
  }

  .wrap-for-cat {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    justify-content: center;
    transition: all 1s ease-out;
    z-index: 11;
    #svgcat {
      position: relative;
    }
  }
}
  .cat-text {
    transform: scale(0);
    font-size: 16pt;
    font-family: $logo;
    color: $lightPink;
    z-index: 10;
    text-align: center;
  }
  .wrap-for-translate:hover ~ .cat-text {
    transform: scale(1);
  }
  #cat {
    transition: all 5s ease-out;
  }


#left-hand{
//animation: rotate 6s linear infinite;
transition: all .5s ease-out;
transform-origin: left top;
transform: rotate(-20deg);
position: absolute;
top: 50%;
right: 12px;}

#right-hand{
//animation: rotate 6s linear infinite;
transition: all .5s ease-out;
transform-origin: right top;
transform: rotate(20deg);
position: absolute;
top: 50%;
left: 10px;}
#right-eye,#left-eye {
  transform: rotate(2deg);
  transition: all .1s ease-out;
}
#cat:hover > #right-eye {
  transform: rotate(0deg);
  transition: all .1s ease-out;
}
#cat:hover > #left-eye {
  transform: rotate(0deg);
  transition: all .1s ease-out;
}


/* Animation */

#flowers {
position: absolute;
top: 0;
left: 0;
}

@for $i from 0 through 10 {
  .st#{$i} {
    -webkit-animation: smth 3s ease-out alternate;
    transition: all .1s ease-out;
  }
}
@for $i from 10 through 30 {
  .st#{$i} {
    -webkit-animation: leaf 3s ease-out alternate;
    transition: all .1s ease-out;
  }
}
@for $i from 30 through 75 {
  .st#{$i} {
    -webkit-animation: flow 3s ease-out alternate;
    transition: all .1s ease-out;
  }
}

@-webkit-keyframes leaf {
  from {
    transform: translateX(-20px) translateY(-10px);}

  100% {
  transform: translateX(0px) translateY(0px);}
}

@-webkit-keyframes flow {
  from {
    transform: rotateZ(-5deg);}
  100% {
  transform: rotateZ(0deg);}
}

@-webkit-keyframes smth {
  from {
    transform: rotateZ(15deg);}
  100% {
  transform: rotateZ(0deg);}
}

@for $i from 0 through 75 {
  .st#{$i}:hover {
    fill: $lightPink;
    transition: all .1s ease-out;
  }
}

.portfolio {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: center;
  &-items {
    margin: 10px;
    max-width: 250px;
    flex-basis: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    background-color: transparentize($lightPink, 0.8);
    border-radius: 3px;
    & h4 {
      flex-grow: 0;
      margin: 0;
      padding: 5px;
      text-align: center;
    }
    & p {
      flex-grow: 1;
      margin: 0;
      //background-color: $lightPink;
      padding: 5px;
      text-align: center;
    }
  }
  .p-image {
    //width: 100%;
    max-width: 80%;
    max-height: 60%;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
    margin:  0 auto;
    display: block;

  }

  .gallery-element {
    margin: 0;
  }

  #itemContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 200px;
  }
  .holder {
    text-align: center;
  }
}

  .wrap-for-box {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    min-height: 100%;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: all 0.3s ease;
    overflow: hidden;
  }
.slick-list, .slick-track {
      height: 100%;
      width: 100%;
}

/* Custom Arrow */
.prev {
  position: absolute;
  top: 50%;
  left: 1em;
  font-size: 1.5em;
  width: 25px;
  height: 25px;
  fill: #666666;
  transition: all ease .2s;
  z-index: 22;
  &:hover {
    cursor: pointer;
    fill: #999999;
  }
  &:focus {
    outline: none;
  }
  }

.next {
  color: #999;
  position: absolute;
  top: 50%;
  right: 1em;
  font-size: 1.5em;
  width: 25px;
  height: 25px;
  fill: #666666;
  transition: all ease .2s;
  &:hover {
    cursor: pointer;
    fill: #999999;
  }
  &:focus {
    outline: none;
  }
  }

  .slick-disabled {
    fill: transparentize(#666666, 0.5);
    &:hover {
      fill: transparentize(#666666, 0.5);
    }
  }

  .wrap-for-slider {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
   .bg .slider {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 96%;
    max-height: 70%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    transition: transform 0.5s ease-out;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
  }

  .slick-slide img {
    position: absolute;
max-width: 90%;
max-height: 90%;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
  }
  .slick-initialized .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    &:focus {
    outline: none;}
  }
  .wrap-for-box .bg {
    background-color: rgba(0, 0, 0, 0.95);
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

  input.gallery-input[type="checkbox"]:checked ~ .wrap-for-box {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    visibility: visible;
    opacity: 1; }

    input.gallery-input[type="checkbox"]:checked ~ .lightbox {
      z-index: 999;
      width: 40px;
      height: 40px;
      position: fixed;
      top: 0;
      right: 0;
      &:after {
        content: '';
        position: absolute;
        background-color: $white;
        top: 10px;
        right: 20px;
        width: 1px;
        height: 20px;
        transform: rotate(45deg);
      }
      &:before {
        content: '';
        position: absolute;
        top: 10px;
        right: 20px;
        width: 1px;
        height: 20px;
        background-color: $white;
        transform: rotate(-45deg);
      }
    }

   .hide-items, .wrap-for-label {
      position: relative;
      width: 0px;
      height: 0px;
    }


  label.lightbox[for] {
    cursor: pointer; }

  input.gallery-input[type="checkbox"] {
    display: none; }
  .hide-description {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: auto;
    background-color: $darkGray;
    color: $white;
    text-align: center;
    padding: 10px;
    margin: 0;

  }

  .pagination a, .pagination span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
  }

.pagination a {
    &:hover {
        background-color: #f1f1f1;
        color: #333;
    }
 }

.pagination, .pagination-works {
    display: flex;
    justify-content: center;
    cursor: pointer;
 }

 .pagination-works {
   a {
     padding: 7px 18px;
     border: 1px solid #eee;
     margin: 0;
     background-color: #ffffff;
     display: inline-block;
     &:hover {
         background-color: #f1f1f1;
         color: #333;
     }
   }
   span {
     padding: 7px 18px;
     border: 1px solid #eee;
     margin: 0;
     background-color: #ffffff;
     display: inline-block;
   }

 }



 .holder a.jp-next, .holder a.jp-previous {
   margin-left: 0;
   margin-right: 0;
 }
 .holder a.jp-current, a.jp-current:hover {
   color: #333;

 }
 .holder a.jp-disabled, .jp-current {
   color: #333;
 }
.holder a.jp-disabled:hover, a.jp-current:hover {
   background-color: #ffffff;
}

@import "break";
