<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <nav class="navbar column is-12" role="navigation" aria-label="main navigation" style="padding: 0;">
      <div class="column is-8 is-offset-2">

      <div class="navbar-brand columns ">
        <div class="column is-2">
          <a class="site-title" href="{{ site.baseurl }}/">logo</a>
        </div>
        <div class="column is-10 menu">
          <a class="button page-link" href="{{ site.baseurl }}/about/">Обо мне</a>
          <a class="button page-link" href="{{site.baseurl }}/portfolio/">Мои работы</a>
          <a class="button page-link" href="{{ site.baseurl }}/blog/">Блог</a>
        </div>
      </div>
      </div>


    </nav>



    <div class="page-content column is-12">
      <div class="wrapper column is-8 is-offset-2">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
