---
layout: blog
---
<div class="post">
<h1 class="tag-header">Результаты по тегу: <span class="tpage-name">{{ page.tag }}</span></h1>
<ul class="post-list">
{% for post in site.tags[page.tag] %}
  <li>
    <h2>
    <a href="{{ post.url }}">{{ post.title }}</a> </h2>
    <span class="post-meta">{% include date.html date=post.date %}</span>
  <div class="post-excerpt">

    {{ post.excerpt | truncatewords: 50 | remove: "<p>" | remove: "</p>" | remove: "<s>" | remove: "</s>" | remove: "<i>" | remove: "</i>" | remove: "<b>" | remove: "</b>" }}</div>
    </div>
  </li>
{% endfor %}
</ul>
</div>
